body {
	background-color: #000;
	background-image: url('../img/fire.jpeg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	color: #222;
	font: .8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.phoenix.container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.phoenix.container .avatar-panel {
	width: 138px;
	position: fixed;
}

.phoenix.container .chat-panel {
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	left: 145px;
	top: 0px;
	right: 0px;
	padding: 0 5px;
	bottom: 25px;
}

div.phoenix.container div.speak-panel input {
	width: 100%;
	border-radius: 5px;
	border: solid 1px black;
	line-height: 20px;
	padding-left: 10px;
}

div.phoenix.container div.speak-panel {
	position: fixed;
	bottom: 0px;
	left: 145px;
	right: 0px;
	padding-right: 15px;
}

.bubble {
	background-image: linear-gradient(bottom, #ece44b 25%, #ecb047 100%);
	background-image: -o-linear-gradient(bottom, #ece44b 25%, #ecb047 100%);
	background-image: -moz-linear-gradient(bottom, #ece44b 25%, #ecb047 100%);
	background-image: -webkit-linear-gradient(bottom, #ece44b 25%, #ecb047 100%);
	background-image: -ms-linear-gradient(bottom, #ece44b 25%, #ecb047 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #ece44b
		), color-stop(1, #ecb047));
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px
		rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	clear: both;
	float: left;
	margin-bottom: 10px;
	padding: 5px 17px;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	max-width: 80%;
	word-wrap: break-word;
}

.bubble:before, .bubble:after {
	border-radius: 20px/10px;
	content: '';
	display: block;
	position: absolute;
}

.bubble:before {
	border: 10px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: -7px;
	z-index: -2;
}

.bubble:after {
	border: 8px solid transparent;
	border-bottom-color: #ece44b;
	bottom: 1px;
	left: -5px;
}

.bubble--alt {
	background-image: linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -o-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -moz-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -webkit-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -ms-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #d2f4fe
		), color-stop(1, #95c2fd));
	float: right;
}

.bubble--alt::before {
	border-bottom-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px/10px;
	left: auto;
	right: -7px;
}

.bubble--alt:after {
	border-bottom-color: #d2f4fe;
	border-radius: 20px/10px;
	left: auto;
	right: -5px;
}

.conversation.selected {
	background-image: linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -o-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -moz-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -webkit-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -ms-linear-gradient(bottom, #d2f4fe 25%, #95c2fd 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #d2f4fe
		), color-stop(1, #95c2fd));
}

.conversation {
	background-image: linear-gradient(bottom, #F7F0CB 25%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #F7F0CB 25%, #FFF 100%);
	background-image: -moz-linear-gradient(bottom, #F7F0CB 25%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F7F0CB 25%, #FFF 100%);
	background-image: -ms-linear-gradient(bottom, #F7F0CB 25%, #FFF 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #F7F0CB
		), color-stop(1, #FFF));
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px
		rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	clear: both;
	float: left;
	padding: 0;
	overflow: hidden;
	position: relative;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
	width: auto;
	width: 100%;
	word-wrap: break-word;
}

.conversation img {
	width: 48px;
	float: left;
}

.conversation div {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
	vertical-align: middle;
}